* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
    color: #0D0D0D;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EB5428;
    padding: 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px; /* H1 */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    font-size: 20px; /* Menu Item */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icons svg {
    margin: 0 10px;
    transition: transform 0.3s;
    width: 40px; /* Icon Size */
}

.icons svg:hover {
    transform: scale(1.1);
}

.recipe-header {
    text-align: center;
    margin: 20px 0;
}

.recipe-image {
    max-width: 100%;
    height: auto;
}

.recipe-content {
    text-align: center;
    margin: 20px;
}

h3 {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0D0D0D;
    color: white;
    font-size: 20px; /* Footer */
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-media svg {
    margin: 0 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 414px) {
    header h1 {
        font-size: 30px; /* H1 */
    }

    nav ul li {
        font-size: 16px; /* Menu Item */
    }

    footer {
        font-size: 16px; /* Footer */
    }
}
@media print {
    @page {
        margin: 0.5in;
    }

    body {
        font-family: serif;
    }


    nav, .avatar, .search {
        display: none;
    }

    
    img {
        display: none; 
    }


   
    a:after {
        content: " (" attr(href) ")";
    }

    
    body {
        overflow: hidden; /* Prevent page overflow */
/
}
