* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
    color: #0D0D0D;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EB5428;
    padding: 20px;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px; /* H1 */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    font-size: 20px; /* Menu Item */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px; /* NAV A */
}

.social-media {
    display: flex;
}

.social-media .icon {
    margin-left: 10px;
    cursor: pointer;
    width: 20px; /* Social Media Icon Size */
}

.recipe-header {
    text-align: center;
    margin: 20px 0;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icons svg {
    margin: 0 10px;
    transition: transform 0.3s;
    width: 20px; /* Icon Size */
}

.icons svg:hover {
    transform: scale(1.1);
}

.recipe-content {
    text-align: center;
    margin: 20px;
}

.recipe-image {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 16px; /* Paragraph */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0D0D0D;
    color: white;
    font-size: 20px; /* Footer */
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    .recipe-header h2 {
        font-size: 30px; /* H2 */
    }

    .recipe-content p {
        font-size: 16px; /* Paragraph */
    }
}

@media (max-width: 414px) {
    header h1 {
        font-size: 30px; /* H1 */
    }

    nav ul li {
        font-size: 16px; /* Menu Item */
    }

    footer {
        font-size: 16px; /* Footer */
    }
}
